// ================================================================================================
// 	File Name: authentication.scss
// 	Description: Page content different authentication pages layouts SCSS.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Frest HTML Admin Template
// 	Version: 1.0
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================


@import "../bootstrap-extended/include";   // Bootstrap includes
@import "../components/include";           // Components includes

/* Authentication page css */
/*-------------------------*/

// authentication pages background
.bg-authentication{
  // background color
  background-color: $body-bg; //single time usage
  // icon position in button
  #icon-arrow{
    position: absolute;
    top: 11px;
    right: 15px;
  }

    // brand-text
  .brand-text{
    color: $primary;
    font-weight: 600;
    letter-spacing: 0.01rem;
  }

}

// left section border radius responsiveness
@media only screen and (min-width: 992px){
  .bg-authentication{
    //rounded border only at left side
    .disable-rounded-right{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/* IE Specific CSS */
  .bg-authentication{
    width: 100%;
    display: block;
  }
}
