// ===============================================================================================
//  File Name: chart-chartist.scss
//  Description: Colors Chartist SCSS
//  ----------------------------------------------------------------------------------------------
//  Item Name: Frest HTML Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import "../bootstrap-extended/include";   // Bootstrap includes
@import "../components/include";           // Components includes

// Chartist Variables
// ------------------
// Class names to be used when generating CSS
$ct-class-chart: ct-chart;
$ct-class-chart-line: ct-chart-line;
$ct-class-chart-bar: ct-chart-bar;
$ct-class-horizontal-bars: ct-horizontal-bars;
$ct-class-chart-pie: ct-chart-pie;
$ct-class-chart-donut: ct-chart-donut;
$ct-class-label: ct-label;
$ct-class-series: ct-series;
$ct-class-line: ct-line;
$ct-class-point: ct-point;
$ct-class-area: ct-area;
$ct-class-bar: ct-bar;
$ct-class-slice-pie: ct-slice-pie;
$ct-class-slice-donut: ct-slice-donut;
$ct-class-slice-donut-solid: ct-slice-donut-solid;
$ct-class-grid: ct-grid;
$ct-class-grid-background: ct-grid-background;
$ct-class-vertical: ct-vertical;
$ct-class-horizontal: ct-horizontal;
$ct-class-start: ct-start;
$ct-class-end: ct-end;

// Text styles for labels
$ct-text-color: rgba($black, 0.4);
$ct-text-size: 0.75rem;
// If set to true it will include the default classes and generate CSS output. If you're planning to use the mixins you
// should set this property to false
$ct-include-classes: true;
// If this is set to true the CSS will contain colored series. You can extend or change the color with the
// properties below
$ct-include-colored-series: $ct-include-classes;
// Series names and colors. This can be extended or customized as desired. Just add more series and colors.
$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) ;

/* Chartist css */
/* -------------*/
// color variable extended
$ct-series-colors: (
  $primary, $warning, $danger, $success, $info, $secondary, $primary, $warning, $danger, $success, $info, $secondary, $primary, $warning, $danger
) ;
// mixin for color of stroke and fill
@mixin ct-chart-series-color($color) {
  .#{$ct-class-point}, .#{$ct-class-line}, .#{$ct-class-bar}, .#{$ct-class-slice-donut} {
    stroke: $color;
  }

  .#{$ct-class-slice-pie}, .#{$ct-class-slice-donut-solid}, .#{$ct-class-area} {
    fill: $color;
  }
}
// loop for color
@if $ct-include-colored-series {
  @for $i from 0 to length($ct-series-names) {
    .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
      $color: nth($ct-series-colors, $i + 1);
      @include ct-chart-series-color($color);
    }
  }
}

// label font size increase for pie and donut
.ct-chart-pie,
.ct-chart-donut{
  .ct-label{
    font-size: 1rem;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
/* IE specific css for hide animated chart */
  #chartist-wrapper{
    .animated-chart{
      display: none;
    }
  }
}

@supports (-ms-ime-align:auto) {
/* Edge specific css for hide animated chart */
  #chartist-wrapper{
    .animated-chart{
      display: none;
    }
  }
}
